/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/mouse.h>
#include <behaviors/mouse_keys.dtsi>

&mmv {
  acceleration-exponent = <2>;
  time-to-max-speed-ms = <150>;
  delay-ms = <0>;
};

&msc {
  acceleration-exponent = <1>;
  time-to-max-speed-ms = <300>;
  delay-ms = <0>;
};

&mt {
    tapping-term-ms = <200>;
    quick-tap-ms = <175>;
    require-prior-idle-ms = <0>;
    flavor = "balanced";
};
&sk {
    release-after-ms = <2000>;
    quick-release;
};

/ {
    macros {
        cpp_scope: cpp_scope {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp COLON &kp COLON>;
        };

        cpp_arrow: cpp_arrow {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp MINUS &kp GT>;
        };
    };

        conditional_layers {
        compatible = "zmk,conditional-layers";
        funmedia_layer {
            if-layers = <1 2>;
            then-layer = <3>;
          };
        };

        keymap {
                compatible = "zmk,keymap";

default_layer {
// -----------------------------------------------------------------------------------------
// | GUI  |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | DEL |
// | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '  |
// | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | GUI |
//                    | ALT | SPC | 1TAB|   | 2RET| BSC  | ESC |
//
            bindings = < 
   &kp LGUI   &kp Q  &kp W  &kp E  &kp R      &kp T      &kp Y  &kp U  &kp I      &kp O    &kp P     &kp DEL
   &kp LCTRL &kp A  &kp S  &kp D  &kp F      &kp G      &kp H  &kp J  &kp K      &kp L    &kp SEMI  &kp SQT
   &kp LSHFT &kp Z  &kp X  &kp C  &kp V      &kp B      &kp N  &kp M  &kp COMMA  &kp DOT  &kp FSLH  &kp LGUI
                           &kp LALT &kp SPACE &lt 1 TAB   &lt 2 RET  &kp BSPC &kp ESC
            >;
        };

                lower_layer {
// -----------------------------------------------------------------------------------------
// |      |     |  7  |  8  |  9  |     |   |     |     |     |     |     |      |
// |      |     |  4  |  5  |  6  |     |   | LFT | DWN |  UP | RGT |     |      |
// |      |     |  1  |  2  |  3  |     |   | HME | PDN | PUP | END |     |      |
//                    |  0  |     |     |   |     |     |     |
//
            bindings = < 
   &trans  &trans   &kp N7  &kp N8  &kp N9  &trans      &trans    &trans     &trans     &trans     &trans  &trans
   &trans  &trans   &kp N4  &kp N5  &kp N6  &trans      &kp LEFT  &kp DOWN   &kp UP     &kp RIGHT  &trans  &trans
   &trans  &trans   &kp N1  &kp N2  &kp N3  &trans      &kp HOME  &kp PG_DN  &kp PG_UP  &kp END    &trans  &trans
                            &kp N0  &trans  &trans      &trans    &trans     &trans
                        >;
                };

        sym_layer {
// -----------------------------------------------------------------------------------------
// |      |  %  |  $  |  `  |  ^  |  |  |   |  &  |  [  |  (  |  {  |  <  | caps |
// |      |  :  |  !  |  "  |  ~  |  /  |   |  @  |  ]  |  )  |  }  |  >  | PSCN |
// |      |  ;  |  ?  |  '  |  _  |  \  |   |  #  |  -  | ::  | ->  |  =  |      |
//                    |     |     |     |   |     | ___ |     |
//
            bindings = < 
  &trans &kp PRCNT &kp DLLR  &kp GRAVE &kp CARET &kp PIPE        &kp AMPS &kp LBKT  &kp LPAR   &kp LBRC   &kp LT    &caps_word
  &trans &kp COLON &kp EXCL  &kp DQT   &kp TILDE &kp FSLH        &kp AT   &kp RBKT  &kp RPAR   &kp RBRC   &kp GT    &kp PSCRN
  &trans &kp SEMI  &kp QMARK &kp SQT   &kp UNDER &kp BSLH        &kp HASH &kp MINUS &cpp_scope &cpp_arrow &kp EQUAL &trans
                                 &trans    &trans   &trans     &trans &trans   &trans
            >;
        };

                funmedia_layer {
// -----------------------------------------------------------------------------------------
// |     | F1  | F2  | F3  | F4  | F5  |    | F6  | F7  | F8  | F9  | F10 | BTCLR|
// |     | v_dn|v_up |mute |BR_DN|BR_UP|    |     | LCK | MUP | RCK | SUP |      |
// |     | BT0 | BT1 | BT2 | BT3 | BT4 |    |     | MLF | MDN | MRT | SDN |      |
//                    |      |     |     |   |     |     |     |
//
                        bindings = <
   &trans &mt F11 F1   &mt F12 F2   &kp F3       &kp F4       &kp F5           &kp F6     &kp F7         &kp F8         &kp F9          &kp F10      &bt BT_CLR
   &trans &kp C_VOL_DN &kp C_VOL_UP &kp C_MUTE   &kp C_BRI_DN &kp C_BRI_UP     &trans     &mkp LCLK      &mmv MOVE_UP   &mkp RCLK       &msc MOVE_DOWN &trans
   &trans &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4     &trans     &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_RIGHT &msc MOVE_UP   &trans
                             &trans &trans   &trans      &trans   &trans    &trans
                        >;
                };
  };
};
